<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/style.css")
    title Ezell Frazier | Page Not Found
  body
    section#not-found
      #title Ezell Frazier • 404 Error Page
      .circles
        p
          | 404
          br
          small PAGE NOT FOUND
        span.circle.big
        span.circle.med
        span.circle.small