extends layout
block content
  h1.mt-3= title
  .container.mt-3
    #embed-api-auth-container
    #chart-1-container
    #chart-2-container
    #view-selector-1-container
    #view-selector-2-container