include ./partials/_header.pug

form.editor.w-75.mt-3.ml-auto.mr-auto
    h3 New Post
        input#postTitle.form-control.mt-3(type="text" aria-describedby="textTitle" placeholder="Post Title")
    #textEditor
    input#postTags.form-control.mt-3(type="text" aria-describedby="textTags" placeholder="Tags")
    input#gitHub.form-control.mt-3.mb-3(type="text" aria-describedby="gitHub" placeholder="GitHub Url")
    input#projec.form-control.mt-3.mb-3(type="text" aria-describedby="project" placeholder="Project Url")
    button.btn.btn-primary(type="submit") Submit
include ./partials/_footer.pug