extends layout

block content
    table.table-responsive-xs.mr-auto.ml-auto.mt-3.mb-3#postList.table-striped.w-50.table-hover
        thead
            tr.d-flex.justify-content-around
                th(scope="col") Project Title
                th(scope="col") Options
        tbody.posts#projects
    nav(aria-label="Page navigation")
        #pagination.text-center