extends layout

block content

form.ml-auto.mr-auto.mt-5.w-50(action="/auth/register" method="post")
	.form-group
		label(for="exampleInputEmail1") Email address
		input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" name="email" placeholder="Enter email" required)
	.form-group
		label(for="password") Password
		input#password.form-control(type="password" placeholder="Password" name="password")
	.form-group
		label(for="confirmPassword") Confirm Password
		input#confirmPassword.form-control(type="password" placeholder="Confirm Password")
	button.btn.btn-primary(type="submit") Register