extends layout

block content
    form.editor.mt-3.ml-auto.mr-auto(action= postAction, method="post")
        .container
            h3 About Me
                span.inactive#postId #{id}
                #aboutEditor
                div.text-center
                    button.btn.btn-primary.mt-3(type="submit", id="submitAbout") Update
    .container-fluid
        h3 Navigation Links
        .row
            .col-sm
                table.table-responsive-xs.mr-auto.ml-auto.mt-3.mb-3#postList.table-striped.table-hover.w-75
                    thead
                        tr.d-flex.justify-content-around
                            th(scope="col") Name
                            th(scope="col") Options
                    tbody.navLinks#navLinks
                nav(aria-label="Page navigation")
                    #pagination.text-center
            .col-sm
                form.mt-3.ml-auto.mr-auto(action="/", method="post" id="postNav")
                     h3 Add Nav Link
                        input#navTitle.form-control.mt-3(type="text" aria-describedby="navTitle" placeholder="Link Name" name="navTitle")
                        input#navUrl.form-control.mt-3(type="text" aria-describedby="navUrl" placeholder="Link URL" name="navUrl")
                        button.btn.btn-primary.mt-3.ml-auto.mr-auto(type="submit", id="submitNav") Submit
    