//Imported background
@import './houston';
//=====================================================
//Breakpoints
//=====================================================
$breaks: ( 'sm': 999px, 'med': 1000px, 'lg': 1000px, 'xl': 1350px, );
// Color Variables
$shamrock: #2dbcad;
$seashell: #f1f1f1;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Hind|Titillium+Web:700i');

// Convet pixels to EM
@function pem($pixels) {
    @return($pixels/16 *1em);
}